<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>查看文章 - 我的博客 </title>
        <link rel="shortcut icon" href="../static/img/favicon.png">
        <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
    </head>

    <body>
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <a class="navbar-brand" href="/home">我的博客</a>
                <ul class="nav navbar-nav">  <!--class属性参照boostrap网页-->
                    <li><a href="/home">首页</a></li>  <!--active激活的-->
                    <li><a href="/category">分类</a></li>
                    <li class="active"><a href="/topic">文章</a></li>
                </ul>
            </div>

        </div>
        <div>
            <ul>
                <li>

                </li>
            </ul>
        </div>
        <div>
            <ul>
                <li>

                </li>
            </ul>
        </div>

        <!--
        <div class="container">
            <h2>{{.Topic.Title}}</h2>
            <a href="/topic/modify?tid={{.Tid}}" class="btn btn-default">修改文章</a>
            {{.Topic.Content}}
        </div>
            -->

        <div class="container">
            {{$label := .Labels}}  <!-- 模板变量-->
            {{with .Topic}}
            <h2>{{.Title}} <small>{{.Category}}</small></h2>
                <h5>
                    {{range $label}}
                    <a href="/home?label={{.}}">{{.}}</a>
                    {{end}}
                </h5>
            {{.Content}}
            <h5>文章附件:<a href="/attachment/{{.Attachment}}">{{.Attachment}}</a></h5>
            {{end}}
        </div>

        <div class="container">
            {{$tid := .Topic.Id}}  <!--先获取文章的id再传进来，在删除某评论后能重定向到该文章-->
            {{$IsLogin := .IsLogin}}
            {{range .Replies}}
            <h3>{{.Name}} <small>{{.Created}}</small>{{if $IsLogin}}<a href="/reply/delete?tid={{$tid}}&rid={{.Id}}">删除</a>{{end}}</h3>
                {{.Content}}
            {{end}}
            <h3>本文回复</h3>
            <form method="post" action="/reply/add">
                <input type="hidden" name="tid" value="{{.Topic.Id}}">
                <div>
                    <label>显示昵称：</label>
                    <input type="text" class="form-control" name="nickname">
                </div>
                <div class="form-group">
                    <label>内容：</label>
                    <textarea name="content" id="" cols="30" rows="10" class="form-control"></textarea>
                </div>
                <button class="btn-default">提交回复</button>
            </form>
        </div>

        <script type="text/javascript" src="https://cdn.staticfile.org/jquery/3.4.1/jquery.min.js"></script>
        <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
    </body>
</html>